.articleIndex {
  text-align: center;
}
.articleIndex > h2 {
  font-size: 3em;
  margin-top: 80px;
}
.articleIndex > h3 {
  font-size: 2em;
  font-weight: 400;
}
.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 80px 20px;
}
.articles h3 {
  text-align: center;
  margin: 20px auto 0px;
  font-weight: 500;
}
.articles p {
  color: #ccc;
  margin-top: 4px;
}